html, body  .container{

  

  
    color: crimson;
    display: block;
    align-items: center;
    justify-content: space-between;
  
    p{
        background-color: rgb(199, 199, 199);
      color: black;
    }

    
          
          
          
  
         
  }
  